
*.blend
*.j3o
*.mtl
*.obj
*.wav
*.png
*.jpg
*.j3odata
*.fbx
*.dae
OpenAL64.dll
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.xml
nbproject/private/private.properties
assets/Models/human/License.txt
*.j3m
nbproject/genfiles.properties
*.xml
*.jnlp
*.dll
*.MF
/build/